<Directory />
  AllowOverride none
  Require all denied

  AddType application/x-httpd-php .php

  Header always set Access-Control-Allow-Origin "*"
</Directory>

<Directory /public>
  AllowOverride All

  Require all granted

  RewriteEngine On
  RewriteRule ^([^.?]+)$ ./index.php
</Directory>

<IfModule dir_module>
    DirectoryIndex index.html index.php
</IfModule>