<Directory />
  AllowOverride none
  Require all denied

  Header always set Access-Control-Allow-Origin "*"
</Directory>

<IfModule dir_module>
    DirectoryIndex index.html index.php
</IfModule>

RewriteEngine On
RewriteBase /
RewriteRule ^([^.?]+)$ /index.php