<Directory>
  Options Indexes FollowSymLinks MultiViews
  AddType application/x-httpd-php .php

  AllowOverride FileInfo

  Require all granted

  RewriteEngine On
  RewriteBase /public
  RewriteRule ^([^.?]+)$ /index.php
</Directory>

<IfModule dir_module>
    DirectoryIndex index.html index.php
</IfModule>